{# avatar.html.twig #}
{% set size = size|default(48) %}
{% set initials = initials|default(name|slice(0,1)|upper) %}

<div style="
	    width: {{ size }}px;
	    height: {{ size }}px;
	    border-radius: 50%;
	    background: #e5e5e5;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    font-weight: bold;
	" {{ attributes.merge({ class: "avatar " ~ attributes.class|default('') } ) }}>
	{% if src %}
		<img src="{{ src }}" alt="{{ name }}" style="width:100%;height:100%;border-radius:50%;">
	{% else %}
		{{ initials }}
	{% endif %}
</div>
